{% set ancestor = project %}
{% include "partials/_breadcrumb.html" %}

<a hx-get="/panes/projects/{{ project.id }}/group-tasks/new" hx-target="#details-pane" hx-swap="outerHTML" data-pane-nav>+ New Group-task</a>
<a hx-get="/panes/deleted" hx-target="#left-pane" hx-swap="innerHTML" data-pane-nav>Deleted Items</a>

<table>
  <thead>
    <tr>
      <th>Serial #</th>
      <th>Title</th>
      <th>Status</th>
      <th>Start date</th>
      <th>Finished date</th>
      <th></th>
    </tr>
  </thead>
  {% include "partials/_group_task_list_body.html" %}
</table>
