{% extends "base.html" %}
{% block title %}{{ group_task.title }}{% endblock %}
{% block content %}
{% include "partials/_page_errors.html" %}
<h2>{{ group_task.title }}</h2>
<dl>
  <dt>Serial #</dt>
  <dd>{{ group_task.serial_num }}</dd>
  <dt>Description</dt>
  <dd>{{ group_task.description }}</dd>
  <dt>Start date</dt>
  <dd>{{ group_task.start_date or '' }}</dd>
  <dt>Finished date</dt>
  <dd>{{ group_task.finished_date or '' }}</dd>
  <dt>Notes</dt>
  <dd>{{ group_task.notes or '' }}</dd>
  <dt>Status</dt>
  <dd>{{ group_task.status.value }}</dd>
</dl>
<p><a href="/projects/{{ project.id }}/group-tasks/{{ group_task.id }}/edit">Edit</a></p>
<p>
  <button type="button" hx-delete="/projects/{{ project.id }}/group-tasks/{{ group_task.id }}" hx-swap="none" hx-confirm="Delete this group-task?">Delete</button>
</p>
<p><a href="/projects/{{ project.id }}">Back to project</a></p>
{% endblock %}
